In [1]:
import numpy as np
import pandas as pd

In [2]:
!cat dane/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [3]:
df = pd.read_csv('dane/ex1.csv')
df

,a,b,c,d,message
0,1,2,3,4,hello
1,5,6,7,8,world
2,9,10,11,12,foo

In [4]:
names = ['a','b','c','d','message']

In [5]:
!cat dane/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [7]:
df2 = pd.read_csv('dane/ex2.csv',names=names,index_col='message')
df2

,a,b,c,d
message,,,,
hello,1,2,3,4
world,5,6,7,8
foo,9,10,11,12

In [8]:
!cat dane/ex4.csv

# Cześć!
a,b,c,d,message
# Chciałem tylko trochę utrudnić Twoją pracę.
# Kto w ogóle wczytuje pliki CSV za pomocą komputera?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [10]:
data = pd.read_csv('dane/ex5.csv')
data

,something,a,b,c,d,message
0,one,1,2,3.0,4,NaN
1,two,5,6,NaN,8,world
2,three,9,10,11.0,12,foo

In [11]:
data.to_csv('dane/specjalnyIO.csv')

In [12]:
data.to_html('dane/spec.html')

In [13]:
data.to_dict('dane/mysdict')

<ipython-input-13-29a2d693bf92>:1: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  data.to_dict('dane/mysdict')

{'something': {0: 'one', 1: 'two', 2: 'three'},
 'a': {0: 1, 1: 5, 2: 9},
 'b': {0: 2, 1: 6, 2: 10},
 'c': {0: 3.0, 1: nan, 2: 11.0},
 'd': {0: 4, 1: 8, 2: 12},
 'message': {0: nan, 1: 'world', 2: 'foo'}}

In [15]:
!pip install openpyxl
data.to_excel('dane/takietam.xlsx')

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.9/250.9 kB 24.4 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

[notice] A new release of pip is available: 23.1.2 -> 24.1.2
[notice] To update, run: pip install --upgrade pip