In [1]:
import pandas as pd
import numpy as np

In [2]:
s1 = pd.Series([5,7,24,6,89,46,73,56,785,435],index=['a','b','c','d','e','f','k','p','r','q'],name='wartośc')
s1

In [4]:
sdata = {'Warszawa':56447,'Lublin':32556,'Kraków':41899,'Gdańsk':42100}
s2 = pd.Series(sdata,name='wnioski')
s2

In [5]:
fdata = {
    'miasto':['Warszawa','Toruń','Przemyśl','Katowice'],
    'wnioski':[12340,11450,13290,17890],
    'projekty':[11,8,7,8]
}

frame = pd.DataFrame(fdata,index=[10,11,12,13])
frame

,miasto,wnioski,projekty
10,Warszawa,12340,11
11,Toruń,11450,8
12,Przemyśl,13290,7
13,Katowice,17890,8

In [14]:
daty = pd.date_range("20240722",periods=6)
daty

DatetimeIndex(['2024-07-22', '2024-07-23', '2024-07-24', '2024-07-25',
               '2024-07-26', '2024-07-27'],
              dtype='datetime64[ns]', freq='D')

In [18]:
df = pd.DataFrame(np.random.randn(6,4),index=daty,columns=list('ABCD'))
df

,A,B,C,D
2024-07-22,-1.044469,-0.009806,-1.642388,0.000959
2024-07-23,0.905585,-0.399041,1.296930,-0.148054
2024-07-24,-1.789599,1.742584,0.607860,1.001056
2024-07-25,0.391913,0.451432,0.189746,0.852892
2024-07-26,1.567371,-0.108911,0.109566,-0.460762
2024-07-27,-1.203403,1.713432,-0.902843,-0.254101

In [19]:
m = 'ABCD'
m

'ABCD'

In [20]:
m[0]

'A'

In [23]:
m[1:3]

'BC'

In [24]:
m[:2]

'AB'